.visual {
  div {
    @apply flex flex-col;
    & > div {
      @apply relative w-full h-[80vh];
    }
  }
  article {
    @apply m-auto max-w-[--page-container] mobile:px-[--grid-container-margin];
    @apply w-full flex flex-col md:justify-center md:absolute md:top-[80vh];

    nav {
      @apply w-full flex flex-row justify-between py-36;
      @apply text-heading-10 md:text-heading-8;
      &::after {
        content: "SCROLL";
      }
    }
    h2 {
      @apply mobile:hidden text-heading-6 text-center;
      margin: 20vh 0 10vh;
    }
    h1 {
      @apply md:flex md:flex-col lg:flex-row justify-center items-center my-50 md:mb-[27vh];
      p:first-child {
        @apply flex items-center;
        span {
          @apply mr-30 md:mr-80;
        }
        svg {
          @apply h-auto w-[1.6em] max-w-full;
        }
      }
      p:last-child {
        @apply text-right;
        span:first-of-type {
          @apply mobile:hidden;
        }
        span {
          transform-style: preserve-3d;
          transform-origin: center;
          backface-visibility: hidden;
        }
        br {
          @apply hidden;
        }
      }
    }
  }
}

.text_box {
  @apply grid gap-x-[--grid-col-gap] md:grid-cols-12 mobile:px-[--grid-container-margin];
  @apply text-heading-10 desktop:text-heading-4;

  h4 {
    @apply md:col-span-full;
    @apply md:flex gap-x-20;
    div {
      @apply flex gap-x-20;
    }
  }
  article {
    @apply mt-94 md:col-start-6 md:col-span-5 relative;
    h3 {
      @apply font-light;
    }
  }
}

.listMonoLayout {
  @apply mobile:px-[--grid-container-margin];
}

.what {
  @apply flex flex-col justify-center h-screen;
  @apply text-white;
  & > div {
    @apply bg-black/30 w-[99vw] h-screen;
    @apply absolute left-[50%] -translate-x-2/4 overflow-hidden -z-1;
    video {
      @apply object-cover absolute -z-1 w-full h-full;
      pointer-events: none;
    }
  }
  article {
    @apply w-full m-auto mobile:px-[--grid-container-margin];
    /* div 요소가 자손으로 h3을 가지고 있지 않을 경우 전체 칼라 적용
div.section1:not(:has(h3)) {
  color: red;
}

div 요소의 자손이 h3이 아닌 요소가 있을 경우 전체 칼라 적용
div.section2:has(:not(h3)) {
  color: blue;
}
 */
    ul {
      @apply mt-32;
      &:hover :where(span, a) {
        @apply opacity-20 !important;
      }
      li {
        @apply flex mobile:flex-wrap gap-[--grid-col-gap] overflow-hidden;
        @apply md:border-b border-b-white/20;
        @apply text-heading-5 md:text-heading-2 mx:text-heading-1;

        & :where(span, a) {
          @apply opacity-100 !important;
        }
        &:hover :where(:not(span), a) {
          @apply opacity-100 !important;
        }
        & :where(span:last-child, &:last-of-type a:first-of-type) {
          @apply m-0 md:ml-auto;
        }
      }
    }
  }
}

section.who {
  > *:first-child {
    @apply md:col-span-4;
  }
  > *:last-child {
    @apply md:col-span-7;
  }
}
