.visual {
  @apply bg-sky-100 absolute w-full;
  .title {
    @apply hidden desktop:block desktop:text-heading-6 text-center;
  }
  nav {
    @apply flex flex-row justify-between col-span-full my-16;
    @apply text-heading-10 md:text-heading-8;

    @media screen and (min-width: theme(screens.md)) {
      &::after {
        content: "SCROLL";
        color: red;
      }
    }
  }
}
.title_box {
  @apply relative grid items-end;
  @apply m-auto max-w-[--page-container];
  height: calc(100vh - 4rem - 1.9rem);

  h2 {
    .split-words {
      @apply flex flex-wrap gap-x-[0.25em] overflow-hidden font-light;
    }
    strong.split-words {
      @apply font-medium;
    }
    .word {
      @apply relative -top-[0.15em];
    }
  }

  article {
    @apply mt-10;
    strong {
      @apply block font-normal;
    }
  }

  nav {
    @apply flex flex-row justify-between col-span-full my-16;
    @apply text-heading-10 md:text-heading-8;
    a {
      @apply flex items-center gap-[0.5rem] font-medium underline underline-offset-8;
      svg {
        @apply w-[1.6rem] md:w-[2rem];
      }
    }
  }

  @media screen and (min-width: theme(screens.md)) {
    @apply grid-cols-12;
    grid-template-rows: 5fr 1fr 2fr;
    height: calc(100vh - 8rem - 2.6rem);
    h2 {
      @apply col-start-2 col-span-10 leading-[16rem];
      .split-words:nth-child(2) {
        @apply justify-end;
      }
      strong.split-words {
        @apply justify-center;
      }
    }
    article {
      @apply col-start-3 col-span-5;
    }
    nav::after {
      content: "SCROLL";
      color: red;
    }
  }
}
.text_box {
  @apply grid gap-x-[--grid-col-gap] md:grid-cols-12 px-[--grid-container-margin];
  @apply text-heading-10 desktop:text-heading-4;

  > *:first-child {
    @apply md:col-span-full;
  }
  > *:last-child {
    @apply mt-94 md:col-start-6 md:col-span-5 relative;
    h3 {
      @apply font-light;
    }
  }
}

.list {
  @apply mobile:px-[--grid-container-margin];
}

.what {
  @apply bg-black/30 w-[99vw] h-screen;
  @apply relative left-[50%] -translate-x-2/4 overflow-hidden;
  @apply flex flex-col justify-center text-white;
  video {
    @apply object-cover absolute -z-1 w-full h-full;
    pointer-events: none;
  }
  article {
    @apply m-auto max-w-[--page-container] px-[--grid-container-margin];
    ul {
      @apply mt-32;
      &:hover li > * {
        @apply opacity-20 !important;
      }
      li {
        @apply flex mobile:flex-wrap gap-[--grid-col-gap];
        @apply md:border-b border-b-white/20;
        @apply text-heading-5 md:text-heading-1;
        &:hover a {
          @apply opacity-100 !important;
        }
        & *:last-child {
          @apply m-0 md:ml-auto;
        }
      }
    }
  }
}

section.who {
  > *:first-child {
    @apply md:col-span-4;
  }
  > *:last-child {
    @apply md:col-span-7;
  }
}
