.elevator {
  @apply text-sky-500 text-5xl grid grid-cols-2 gap-3 bg-slate-400;
  .elevatorL {
    @apply text-right;
  }
}

.name {
  color: green;
}

.text {
  @apply text-4xl/loose  lg:text-[200px]/loose border py-10;
  div {
    @apply flex justify-between;
  }
  > p:last-child {
    margin-left: 50%;
  }
}
.text2 {
  @apply text-4xl/loose  lg:text-[200px]/loose border py-10;
  div {
    @apply flex gap-8;
  }
  > p:last-child {
    margin-left: 50%;
  }
}
