.cCircle {
  @apply w-full h-screen  text-center;
  & > p {
    @apply absolute w-full h-screen z-10;
    @apply flex flex-col items-center;
    @apply mobile:justify-center;
    pointer-events: none;

    svg:first-child {
      @apply mx-auto -mt-[40%];
      --center: calc(50% - 100px);
      @apply mt-0 md:sticky md:top-[--center];
    }
    svg:last-child {
      @apply absolute;
      --center: calc(50% - 300px);
      @apply md:top-[--center];
    }
  }
  article {
    @apply h-screen w-full;
    @apply grid grid-cols-3 items-center overflow-hidden absolute top-0;
    @apply md:grid-cols-12;
    span {
      @apply aspect-square overflow-hidden rounded-full;
    }
  }
  article:first-of-type {
    @apply grid-rows-3;
    pointer-events: none;
  }
  article:last-of-type {
    --he: calc(var(--height) + 12.5rem);
    @apply content-center gap-y-125 pt-[--he];
    h1 {
      @apply col-span-full row-span-full flex capitalize justify-center;
      @apply md:gap-x-60;
    }
    .textBox {
      @apply px-6 col-span-3 text-center;
      @apply md:col-start-3 md:col-span-8;
    }
  }
}

.title_flow {
  @apply w-full  overflow-hidden;
  article {
    @apply flex flex-col;
    @apply text-heading-5 md:text-special;
    svg {
      @apply sticky top-0 left-0;
    }
    div {
      @apply flex items-end;
      @apply md:text-center;
      br {
        @apply hidden;
      }
    }
    > span:last-child {
      @apply text-right;
    }
    &.tflow_01 {
      @apply mb-50;
      div {
        @apply justify-between;
      }
    }
    &.tflow_02 {
      div {
        @apply mobile:flex-col mobile:items-start md:gap-28;
        @apply mt-50;
      }
      > span:last-child {
        @apply mobile:text-left;
      }
    }
  }
}

.spreadImg {
  @apply h-screen relative;
  @apply grid gap-x-5 justify-center items-center;
  @apply md:grid-cols-12;

  article {
    @apply text-center;
    @apply md:col-start-4 md:col-span-6;
    h5 {
      @apply font-medium mb-25;
    }
  }

  ol {
    @apply absolute top-0 -z-10 w-full h-full;
    @apply flex flex-wrap gap-y-[40vh];
    @apply md:gap-0 md:gap-x-[66.666667%];
    li {
      @apply flex justify-center items-center;
      @apply w-2/4 md:w-2/12;
      img {
        @apply rounded-md;
      }
      &:nth-of-type(n + 3) img {
        @apply mobile:scale-150;
      }
    }
  }
}

.service {
  @apply h-screen;
  @apply grid grid-rows-2 items-center;

  h1 {
    @apply w-full overflow-hidden;
  }
  article {
    @apply grid md:grid-cols-12 gap-x-5 justify-center items-center;

    & > * {
      @apply md:col-span-7;
    }
    h5 {
      @apply mb-25;
    }
  }
}

.recruitList {
  @apply mobile:text-center relative overflow-hidden;

  article {
    @apply grid gap-x-5;
    @apply md:grid-cols-12;
    div:first-child {
      @apply w-full h-full mobile:absolute;
      @apply md:col-span-5;
      h2 {
        @apply sticky top-2/4 text-heading-6 md:text-heading-4;
        transform: perspective(500px) rotateX(90deg);
        transform-style: preserve-3d;
        transform-origin: center;
        backface-visibility: hidden;
      }
    }
    div:last-child {
      @apply h-[70vh] flex flex-col justify-center gap-4 py-[--col-gap] opacity-[0.5];
      @apply md:col-span-7;
      span {
        @apply text-heading-10 md:text-heading-4;
      }
    }
  }
}

.partners {
  @apply py-35;
  h5 {
    @apply font-medium;
  }
  article {
    @apply flex overflow-hidden mt-25;
    div {
      @apply flex flex-nowrap gap-6 mr-6;
      span {
        @apply w-[110px] h-[46px] overflow-hidden block;
        @apply md:w-[240px] md:h-[100px];
      }
    }
  }
}
