.spreadImg {
  @apply h-screen relative;
  @apply grid grid-cols-12 px-20 gap-x-5 justify-center items-center;

  .txtBox {
    @apply bg-sky-500 text-center;
    @apply col-start-4 col-span-6;
    h5 {
      @apply font-medium;
    }
  }
  ol {
    @apply flex flex-wrap justify-between items-center gap-y-96 absolute top-0 left-0 right-0 bottom-0 -z-10;
    pointer-events: none;
    li {
      @apply flex-1 basis-1/2;
      &:nth-of-type(even) img {
        @apply mx-auto mr-0;
      }
    }
  }
}

.service {
  --mb30: calc(100% / 12);
  --mb40: calc(100% / 12 + 1rem);
  @apply bg-slate-300 overflow-hidden;
  @apply grid;
  @apply grid desktop:grid-cols-12 gap-x-5 justify-center items-center;
  h5 {
    @apply mb-[--mb40];
  }
  h3 {
    @apply mb-[--mb30];
  }
  article {
    @apply desktop:col-span-7;
  }
}

.recruitList {
  --col-gap: calc(var(--grid-container) * 1 / 12 + 2rem);
  @apply mobile:text-center relative;
  article {
    @apply grid mobile:grid-cols-1 grid-cols-12 gap-x-5;
    div:first-child {
      @apply col-span-5 mobile:absolute mobile:-z-[1] w-full h-screen;
      h2 {
        @apply sticky top-2/4 text-heading-6 desktop:text-heading-4;
        transform: perspective(500px) rotateX(90deg);
        transform-style: preserve-3d;
        transform-origin: center;
        backface-visibility: hidden;
      }
    }
    div:last-child {
      @apply col-span-7 flex flex-col gap-4 py-[--col-gap] opacity-[0.5];
      span {
        @apply text-heading-10 desktop:text-heading-4;
      }
    }
  }
}

.partners {
  h5 {
  }
  /* div {
    @apply flex gap-16 overflow-hidden ;
    img {
      border: 1px solid;
      width: 240px;
      height: 100px;
    }
  } */
}
