@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Poppins&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
  h1 {
    @apply text-pink-700 bg-pink-50 text-center p-10;
  }
  button {
    @apply p-2 border rounded-md  hover:bg-slate-700 hover:text-white;
  }

  /* HEADING */
  .special {
    @apply text-black text-[64px] lg:text-[200px] capitalize;
  }
  .heading__1 {
    @apply text-black text-[50px]/[60px] lg:text-[130px]/[180px] font-light;
    strong {
      @apply font-medium;
    }
  }
  .heading__4 {
    @apply text-black text-xl/[30px] lg:text-6xl/[75px];
  }

  /* BODY */
  .body__1 {
    @apply text-2xl/8 lg:text-4xl/[48px] font-medium;
  }
  .body__2 {
    @apply text-[26px]/[38px];
  }
}
@layer components {
  nav {
    a {
      @apply p-2 mr-2 bg-slate-300;
    }
    .is-active {
      @apply bg-purple-600 text-white;
    }
  }

  .cursor-dot {
    @apply pointer-events-none fixed top-0 left-0 rounded-full cursor-none w-5 h-5 bg-red-600/100;
    transform: translate(-50%, -50%);
    transition: width 0.15s ease-in-out, height 0.15s ease-in-out,
      transform 0.1s ease-in-out;
    will-change: width, height, transform;
    z-index: 999;
    &.active-link {
      @apply w-20 h-20 bg-red-600/50;
    }
    &.active-video {
      @apply w-72 h-72 bg-teal-500/60;
    }
  }
}

.pin-spacer {
  border: 2px dashed green;
}
svg {
  border: 2px dashed greenyellow;
}
